In [302]:
import os
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
import re
from sklearn import linear_model
from subprocess import check_call
import matplotlib.pyplot as plt

In [303]:
master = pd.read_csv('price.csv',encoding = 'ISO-8859-1')

In [304]:
master.columns

Index(['Pcode', 'Product Name', 'Series Code', 'Subject Code',
       'Extra Subject Code', 'Stage', 'Country (ASF)', 'Branch', 'Price'],
      dtype='object')

In [305]:
master['Branch'].value_counts()

Iberia                       74888
LatAm North                  48503
Europe                       16769
LatAm South                   8703
Asia (excl. Japan)             626
MENA                           119
Japan                           50
India                           50
Australia and New Zealand        3
Name: Branch, dtype: int64

In [306]:
master['Stage'].value_counts()

Won              96149
Not Won          28310
Lost             14596
Evaluation        5406
Interest          5249
Qualification        1
Name: Stage, dtype: int64

In [307]:
master = master.fillna({"Branch" : "Iberia"})

In [308]:
master = master.fillna({"Stage" : "Won"})

In [309]:
Clean_up ={"Branch": {"Iberia":1,"LatAm North":2,"Europe":3,"LatAm South":4,"Asia (excl. Japan)":5,"MENA":6,"India":7,"Japan":8,"Australia and New Zealand":9},
           "Stage": {"Won":1, "Lost":0, "Not Won":0,"Evaluation":2,"Interest":3,"Qualification":4}}

In [310]:
master.replace(Clean_up,inplace=True)

In [311]:
feature = ['Branch','Price']

In [312]:
feature = master[feature].values

In [314]:
target = master['Stage'].values

In [315]:
target

array([3, 1, 1, ..., 1, 1, 1], dtype=int64)

In [316]:
master.fillna(master.Price.mean(),inplace =True)

In [317]:
master.describe()

               Stage         Branch          Price
count  149716.000000  149716.000000  149716.000000
mean        0.819665       1.747569     551.755076
std         0.656104       0.923442    2194.146866
min         0.000000       1.000000       0.000000
25%         0.000000       1.000000     109.590000
50%         1.000000       1.000000     250.870000
75%         1.000000       2.000000     533.150000
max         4.000000       9.000000  156227.740000

In [318]:
decision_tree = tree.DecisionTreeClassifier(random_state = 1)

In [320]:
decision_tree = decision_tree.fit(feature,target)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [226]:
master= np.nan_to_num('Price')