In [75]:
# Import os library to find and set current working directory
import os
os.getcwd()

'C:\\Users\\pdas\\Desktop\\Personal\\EdWisr'

In [76]:
#import numpy and pandas library to acceess dataset and do necessary data manipulation
import numpy as np
import pandas as pd

In [77]:
#Read .csv data from directory,
IMDB_DF = pd.read_csv ('IMDB_data.csv',encoding = "ISO-8859-1",skiprows =[2] )

In [78]:
#View IMDB_DF
IMDB_DF.head()

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language
0,Despite his tarnished reputation after the eve...,The Dark Knight Rises,2679.0,http://ia.media0imdb.com/images/M/MV5BMTk4ODQz...,75.0,"Action, Thriller",tt1345836,2012,English
1,"Based on the novel written by Stephen Chbosky,...",The Perks of Being a Wallflower,1270.0,http://ia.media0imdb.com/images/M/MV5BMzIxOTQy...,71.0,"Drama, Romance",tt1659337,2012,English
2,Mike Lane is a thirty0year old living in Tampa...,Magic Mike,2580.0,http://ia.media0imdb.com/images/M/MV5BMTQzMDMz...,51.0,"Comedy, Drama",tt1915581,2012,English
3,When Bond's latest assignment goes gravely wro...,Skyfall,1807.0,http://ia.media0imdb.com/images/M/MV5BMjAyODkz...,68.0,"Action, Thriller",tt1074638,2012,English
4,Against medical advice and without the knowled...,Silver Linings Playbook,1828.0,http://ia.media0imdb.com/images/M/MV5BMTM2MTI5...,68.0,"Comedy, Drama, Romance",tt1045658,2012,English

In [79]:
# Export only one Column "Genre" to do necessary changes.
Genre = IMDB_DF['Genre']
Genre.head()
#Count of rows 
Genre.count()

3389

In [80]:
#Find unique values from Genre.
unique_Genre = Genre.unique()

In [81]:
# Convert str to DataFrame format
unique_Genre = pd.DataFrame (data = unique_Genre)

In [82]:
# View list of unique Genres.
unique_Genre.head()

                        0
0        Action, Thriller
1          Drama, Romance
2           Comedy, Drama
3  Comedy, Drama, Romance
4  Crime, Drama, Thriller

In [83]:
#Name columns in unique_genre data
unique_Genre.columns = ['Genre']

In [84]:
unique_Genre.head()

                    Genre
0        Action, Thriller
1          Drama, Romance
2           Comedy, Drama
3  Comedy, Drama, Romance
4  Crime, Drama, Thriller

In [85]:
#Sort unique_Genre data
unique_Genre.sort_values(by = 'Genre',ascending = True)
unique_Genre.head()

                    Genre
0        Action, Thriller
1          Drama, Romance
2           Comedy, Drama
3  Comedy, Drama, Romance
4  Crime, Drama, Thriller

In [86]:
#Get all column name sto do calculations.
IMDB_DF.columns

Index(['Plot', 'Title', 'imdbVotes', 'Poster', 'imdbRating', 'Genre', 'imdbID',
       'Year', 'Language'],
      dtype='object')

In [87]:
IMDB_DF.dtypes

Plot           object
Title          object
imdbVotes     float64
Poster         object
imdbRating    float64
Genre          object
imdbID         object
Year           object
Language       object
dtype: object

In [44]:
import numpy as np

In [90]:
#Converting data type of columns to do mathmatical calcupations
pd.to_numeric(IMDB_DF['imdbVotes'])
pd.to_numeric(IMDB_DF['imdbRating'])

0       75.0
1       71.0
2       51.0
3       68.0
4       68.0
5       60.0
6       55.0
7       63.0
8       56.0
9       59.0
10      87.0
11      87.0
12      87.0
13      87.0
14      87.0
15      87.0
16      87.0
17      87.0
18      52.0
19      87.0
20      87.0
21      87.0
22      87.0
23      87.0
24      68.0
25      53.0
26      87.0
27      61.0
28      87.0
29      87.0
        ...
3359     6.3
3360     6.7
3361     7.2
3362     6.9
3363     5.6
3364     7.4
3365     6.7
3366     5.8
3367     2.9
3368     5.1
3369     4.2
3370     7.5
3371     7.8
3372     7.6
3373     6.9
3374     8.0
3375     6.0
3376     5.8
3377     8.1
3378     7.3
3379     7.5
3380     3.5
3381     8.1
3382     7.5
3383     7.1
3384     7.5
3385     4.5
3386     7.3
3387     7.9
3388     4.6
Name: imdbRating, Length: 3389, dtype: float64

In [95]:
IMDB_DF['NewVariable'] = (IMDB_DF['imdbVotes'] - IMDB_DF['imdbRating'])**2

In [96]:
IMDB_DF

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language,NewVariable
0,Despite his tarnished reputation after the eve...,The Dark Knight Rises,2679.0,http://ia.media0imdb.com/images/M/MV5BMTk4ODQz...,75.0,"Action, Thriller",tt1345836,2012,English,6780816.00
1,"Based on the novel written by Stephen Chbosky,...",The Perks of Being a Wallflower,1270.0,http://ia.media0imdb.com/images/M/MV5BMzIxOTQy...,71.0,"Drama, Romance",tt1659337,2012,English,1437601.00
2,Mike Lane is a thirty0year old living in Tampa...,Magic Mike,2580.0,http://ia.media0imdb.com/images/M/MV5BMTQzMDMz...,51.0,"Comedy, Drama",tt1915581,2012,English,6395841.00
3,When Bond's latest assignment goes gravely wro...,Skyfall,1807.0,http://ia.media0imdb.com/images/M/MV5BMjAyODkz...,68.0,"Action, Thriller",tt1074638,2012,English,3024121.00
4,Against medical advice and without the knowled...,Silver Linings Playbook,1828.0,http://ia.media0imdb.com/images/M/MV5BMTM2MTI5...,68.0,"Comedy, Drama, Romance",tt1045658,2012,English,3097600.00
5,A shy senior and a down0to0earth junior fall i...,The First Time,1538.0,http://ia.media0imdb.com/images/M/MV5BMjMxNDI1...,60.0,"Comedy, Drama, Romance",tt1763303,2012,English,2184484.00
6,"In California, the former Navy SEAL Chon and h...",Savages,2683.0,http://ia.media0imdb.com/images/M/MV5BMTk0ODIy...,55.0,"Crime, Drama, Thriller",tt1615065,2012,English,6906384.00
7,Meet the Borgens. William Borgens is an acclai...,Stuck in Love,1832.0,http://ia.media0imdb.com/images/M/MV5BMTU1NzI5...,63.0,"Comedy, Drama, Romance",tt2205697,2012,English,3129361.00
8,"In 1874, in the Imperial Russia, the aristocra...",Anna Karenina,2094.0,http://ia.media0imdb.com/images/M/MV5BMTU0NDgx...,56.0,"Drama, Romance",tt1781769,2012,English,4153444.00
9,"In the 1960s, Richard Kuklinski is working as ...",The Iceman,1859.0,http://ia.media0imdb.com/images/M/MV5BNDQyMjM5...,59.0,"Biography, Crime, Drama",tt1491044,2012,English,3240000.00
10,The sunrise blinds the early risers of the cit...,Broken Ledge,2718.0,http://ia.media0imdb.com/images/M/MV5BMTcyMzYz...,87.0,Drama,tt2508268,2012,English,6922161.00
11,A mysterious traveler infiltrates a dangerous ...,In the Realms of Madness,2718.0,http://ia.media0imdb.com/images/M/MV5BNzA2NzE3...,87.0,"Drama, Horror",tt2248841,2012,English,6922161.00
12,"In both its story on and off the screen, 'Flan...",Flaneurs,2718.0,NaN,87.0,"Drama, Romance",tt2364671,2012,English,6922161.00
13,Hailey is in an unhappy marriage but she devel...,The Start of Something Good,2718.0,NaN,87.0,"Drama, Romance",tt2331062,2012,English,6922161.00
14,Yannick has to deal with the haunting by himse...,True Storys of the Ghost House 3 the Demon Phe...,2718.0,NaN,87.0,Horror,tt3098520,2012,English,6922161.00
15,Seduced by the haunting beauty of a remote mar...,White Wind,2718.0,NaN,87.0,"Drama, Mystery",tt2555620,2012,English,6922161.00
16,A psychotic Iraq War veteran teaches his young...,Thelema the Equinox Diaries,2718.0,NaN,87.0,"Drama, Thriller",tt2443106,2012,English,6922161.00
17,A politician receives a message that his mistr...,Home Minister,2718.0,NaN,87.0,Drama,tt2923826,2012,English,6922161.00
18,A plot to assassinate the Vice President takes...,Placebo Effect,1752.0,http://ia.media0imdb.com/images/M/MV5BMTU5Njg1...,52.0,"Crime, Mystery, Thriller",tt0163154,1998,English,2890000.00
19,Long on the Island is a psychological thriller...,Long on the Island,2718.0,NaN,87.0,"Fantasy, Horror",tt2375263,2012,English,6922161.00
20,"Over the course of a single night, Dave and An...",I Did,2718.0,NaN,87.0,"Drama, Family",tt2388672,2012,English,6922161.00
21,"""Collaging Film"" is a series of shorts dating ...",Collaging Film,2718.0,NaN,87.0,Animation,tt4416372,2012,English,6922161.00
22,Hank lives the quiet life until a mysterious i...,Welcoming Departure,2718.0,http://ia.media0imdb.com/images/M/MV5BMjE0OTU2...,87.0,"Comedy, Drama",tt2235809,2012,English,6922161.00
23,The Luckiest Girl on the Lower East Side takes...,The Luckiest Girl on the Lower East Side,2718.0,NaN,87.0,Drama,tt1876494,2012,English,6922161.00
24,"Less Lost, is the fictional story of a young m...",Less Lost,1114.0,http://ia.media0imdb.com/images/M/MV5BMTk3MTg2...,68.0,"Drama, War",tt2259946,2012,English,1094116.00
25,High school student Aidan loses his girlfriend...,Still Here,2302.0,NaN,53.0,Drama,tt2275650,2012,English,5058001.00
26,Best friends Sam and Mike go out on a bender a...,The Hedgehog Dilemma,2718.0,http://ia.media0imdb.com/images/M/MV5BMTU1NDI3...,87.0,"Drama, Romance",tt2505274,2012,English,6922161.00
27,Filmed and produced by Australian director Sha...,51 Paintings,2457.0,http://ia.media0imdb.com/images/M/MV5BMTQyNzU2...,61.0,Drama,tt2318982,2012,English,5740816.00
28,"Capitalists, revolutionaries, and the people w...",The Adventures of Paul and Marian,2718.0,NaN,87.0,"Comedy, Musical, Romance",tt1949593,2012,English,6922161.00
29,Various people who lost loved ones during 9011...,Above the Fire,2718.0,http://ia.media0imdb.com/images/M/MV5BMTUzNzc5...,87.0,Drama,tt2231544,2012,English,6922161.00
...,...,...,...,...,...,...,...,...,...,...
3359,Prabhavati lives a wealthy lifestyle in India ...,Sneham Kosam,NaN,NaN,6.3,"Family, Action",tt0246240,1999,Telugu,NaN
3360,The story of the famous Saint0Poet Manjunatha.,Sri Manjunatha,NaN,NaN,6.7,"Drama, Family, History, Musical",tt0249783,2001,Telugu,NaN
3361,Lord Rama's life is one of perfect adherence t...,Sri Rama Rajyam,635.0,NaN,7.2,Drama,tt1783377,2011,Telugu,394132.84
3362,Based on the life story of the great devotee0m...,Sri Ramadasu,207.0,NaN,6.9,"Biography, Musical",tt0459205,2006,Telugu,40040.01
3363,Josef Stalin rises from his rejection as being...,Stalin,653.0,http://ia.media0imdb.com/images/M/MV5BMTk5OTQw...,5.6,"Action, Drama",tt0105462,2006,Telugu,419126.76
3364,"The story of aspiring police officer, Prithvir...",State Rowdy,68.0,NaN,7.4,"Action, Crime, Drama",tt0246254,1989,Telugu,3672.36
3365,Aditya lives a middle0classed lifestyle in Aur...,Student No 1,473.0,NaN,6.7,"Action, Crime, Drama",tt1283956,2001,Telugu,217435.69
3366,Bantu and Chantu are two close friends and fel...,Style,NaN,NaN,5.8,Musical,tt0306855,2006,Telugu,NaN
3367,Amarchandra lives a poor lifestyle in British ...,Subhash Chandra Bose,NaN,NaN,2.9,"Action, Drama, History, Romance, Thriller",tt0459554,2005,Telugu,NaN
3368,Frank Darrbo is a hapless fry cook. When his w...,Super,NaN,http://ia.media0imdb.com/images/M/MV5BMTcxMDkx...,5.1,"Action, Comedy, Drama, Mystery, Romance",tt1512235,2005,Telugu,NaN
3369,Unable to convince the ruling council of Krypt...,Superman,49.0,http://ia.media0imdb.com/images/M/MV5BMTI1MjA5...,4.2,"Fantasy, Musical, Sci0Fi",tt0078346,1980,Telugu,2007.04
3370,A priceless idol is stolen from a temple trave...,Swamy Ra Ra,443.0,NaN,7.5,Crime,tt2767354,2013,Telugu,189660.25
3371,"The story of a classical singer, who finds it ...",Swathi Kiranam,NaN,NaN,7.8,"Family, Musical, Drama",tt0250012,1992,Telugu,NaN
3372,"Ravindranath Tagore, A physics professor forms...",Tagore,861.0,NaN,7.6,"Action, Drama",tt0361037,2003,Telugu,728291.56
3373,"Raja is a small0time outlaw, whose daring anti...",Takkari Donga,644.0,NaN,6.9,"Action, Adventure, Western",tt0307541,2002,Telugu,405896.41
3374,The story of an Indian Freedom fighter who fou...,Tandra Paparayudu,61.0,NaN,8.0,"Action, Biography, Drama, History",tt0253784,1986,Telugu,2809.00
3375,"Raghu, a business tycoon, is driving through a...",Tarzan Sundari,7.0,NaN,6.0,"Action, Adventure, Fantasy, Musical",tt2735328,1983,Telugu,1.00
3376,A man reconsiders his ideas about love in the ...,Teen Maar,909.0,NaN,5.8,"Comedy, Drama, Romance",tt1889440,2011,Telugu,815770.24
3377,Daya (NTR) is a fully corrupted police officer...,Temper,1331.0,NaN,8.1,"Action, Drama",tt4442758,2015,Telugu,1750064.41
3378,Classic about the life story of Carnatic Music...,Thyagayya,NaN,NaN,7.3,"Family, History, Musical",tt0246277,1946,Telugu,NaN
3379,"A romantic entertainer between a ""bava"" and a ...",Uyyala Jampala,NaN,NaN,7.5,"Drama, Family, Romance",tt3290676,2013,Telugu,NaN
3380,About to re0locate to the U.S. but refusing to...,Varudu,438.0,NaN,3.5,"Action, Crime, Drama, Thriller",tt1582637,2010,Telugu,188790.25
3381,Cable Raju is a slum dweller who works as a ca...,Vedam,2015.0,NaN,8.1,Drama,tt1649431,2010,Telugu,4027647.61
3382,A simple train journey to Tirupathi goes horri...,Venkatadri Express,79.0,NaN,7.5,"Adventure, Comedy",tt3573040,2013,Telugu,5112.25
3383,Venky and his friends are accused of murdering...,Venky,NaN,NaN,7.1,"Mystery, Romance",tt0417229,2004,Telugu,NaN
3384,"Vikram Rathod, A sincere Police man joins with...",Vikramarkudu,1158.0,NaN,7.5,"Action, Comedy, Crime, Thriller",tt0858492,2006,Telugu,1323650.25
3385,After an eventful train trip on the Visakha/Ra...,Visakha Express,43.0,NaN,4.5,"Crime, Drama, Mystery, Thriller",tt1285147,2008,Telugu,1482.25
3386,"Mahi is a beautiful wealthy heiress, but her f...",Yamadonga,1316.0,NaN,7.3,"Action, Comedy, Fantasy, Romance",tt0924317,2007,Telugu,1712695.69
3387,Yevade Subramanyam has wrapped its shooting an...,Yevade Subramanyam,188.0,NaN,7.9,"Adventure, Comedy, Drama",tt4515070,2015,Telugu,32436.01
3388,Sathya (Allu Arjun) returns from a coma to tak...,Yevadu,3966.0,NaN,4.6,"Action, Thriller",tt2211173,2014,Telugu,15692689.96