In [4]:
# Import os library to find and set current working directory
import os
os.getcwd()

'C:\\Users\\pdas\\Desktop\\Personal\\EdWisr'

In [5]:
#import numpy and pandas library to acceess dataset and do necessary data manipulation
import numpy as np
import pandas as pd

In [9]:
#Read .csv data from directory,
IMDB_DF = pd.read_csv ('IMDB_data.csv',encoding = "ISO-8859-1",skiprows =[2] )

In [11]:
#View IMDB_DF
IMDB_DF.head()

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language
0,Despite his tarnished reputation after the eve...,The Dark Knight Rises,2679,http://ia.media-imdb.com/images/M/MV5BMTk4ODQz...,75,"Action, Thriller",tt1345836,2012,English
1,"Based on the novel written by Stephen Chbosky,...",The Perks of Being a Wallflower,1270,http://ia.media-imdb.com/images/M/MV5BMzIxOTQy...,71,"Drama, Romance",tt1659337,2012,English
2,Mike Lane is a thirty-year old living in Tampa...,Magic Mike,2580,http://ia.media-imdb.com/images/M/MV5BMTQzMDMz...,51,"Comedy, Drama",tt1915581,2012,English
3,When Bond's latest assignment goes gravely wro...,Skyfall,1807,http://ia.media-imdb.com/images/M/MV5BMjAyODkz...,68,"Action, Thriller",tt1074638,2012,English
4,Against medical advice and without the knowled...,Silver Linings Playbook,1828,http://ia.media-imdb.com/images/M/MV5BMTM2MTI5...,68,"Comedy, Drama, Romance",tt1045658,2012,English

In [16]:
# Export only one Column "Genre" to do necessary changes.
Genre = IMDB_DF['Genre']
Genre.head()
#Count of rows 
Genre.count()

3389

In [14]:
#Converted Genre data into DataFrame format.
Genre = pd.DataFrame(data = Genre)
Genre.head()

                    Genre
0        Action, Thriller
1          Drama, Romance
2           Comedy, Drama
3        Action, Thriller
4  Comedy, Drama, Romance

In [44]:
#Find unique values from Genre.

unique_Genre = Genre.unique()

In [48]:
unique_Genre.sort()

AttributeError: 'DataFrame' object has no attribute 'sort'

In [47]:
# Convert str to DataFrame format
unique_Genre = pd.DataFrame (data = unique_Genre)

In [49]:
# View list of unique Genres.
unique_Genre.head()

                                                   0
0                                             Action
1                                  Action, Adventure
2  Action, Adventure, Biography, Drama, History, ...
3          Action, Adventure, Comedy, Crime, Musical
4                   Action, Adventure, Comedy, Drama

In [51]:
#Name columns in unique_genre data
unique_Genre.columns = ['Genre']

In [52]:
unique_Genre.head()

                                               Genre
0                                             Action
1                                  Action, Adventure
2  Action, Adventure, Biography, Drama, History, ...
3          Action, Adventure, Comedy, Crime, Musical
4                   Action, Adventure, Comedy, Drama

In [57]:
#Sort unique_Genre data
unique_Genre.sort_values(by = 'Genre',ascending = True)
unique_Genre.head()

                                               Genre
0                                             Action
1                                  Action, Adventure
2  Action, Adventure, Biography, Drama, History, ...
3          Action, Adventure, Comedy, Crime, Musical
4                   Action, Adventure, Comedy, Drama

In [60]:
#Get all column name sto do calculations.
IMDB_DF.columns

Index(['Plot', 'Title', 'imdbVotes', 'Poster', 'imdbRating', 'Genre', 'imdbID',
       'Year', 'Language'],
      dtype='object')

In [66]:
IMDB_DF.dtypes

Plot          object
Title         object
imdbVotes     object
Poster        object
imdbRating    object
Genre         object
imdbID        object
Year          object
Language      object
dtype: object

In [ ]:
_