In [2]:
import os
import pandas as pd
import numpy as np

In [8]:
os.getcwd()
os.chdir("C:\\Users\\SAI KRUPA\\Desktop\\Master\\stories")
os.getcwd()

'C:\\Users\\SAI KRUPA\\Desktop\\Master\\stories'

In [10]:
news = pd.read_csv("stories.csv")

In [12]:
news.head()

,9079978,2015-02-20T11:29:58.000Z,1424431798,Immortalin,2,Unnamed: 5,0,Ask HN: Simple SaaS as first Golang web app?
0,9079983,2015-02-20T11:34:22.000Z,1424432062,Rutger24s,1,startupjuncture.com,0,24sessions: live business advice over video-chat
1,9079986,2015-02-20T11:35:32.000Z,1424432132,AndrewDucker,3,blog.erratasec.com,0,Some notes on SuperFish
2,9079988,2015-02-20T11:36:18.000Z,1424432178,davidiach,1,twitter.com,0,Apple Watch models could contain 29.16g of gold
3,9080000,2015-02-20T11:41:06.000Z,1424432466,CiaranR,1,phpconference.co.uk,0,PHP UK Conference Diversity Scholarship Programme
4,9080006,2015-02-20T11:43:04.000Z,1424432584,mstolpm,2,preview.onedrive.com,2,Microsoft giving away 100GB free OneDrive stor...

In [14]:
news.columns = ['id', 'created_at', 'created_at_i', 'author', 'points', 'url_hostname', 'num_comments', 'title']

In [16]:
news.head()

,id,created_at,created_at_i,author,points,url_hostname,num_comments,title
0,9079983,2015-02-20T11:34:22.000Z,1424432062,Rutger24s,1,startupjuncture.com,0,24sessions: live business advice over video-chat
1,9079986,2015-02-20T11:35:32.000Z,1424432132,AndrewDucker,3,blog.erratasec.com,0,Some notes on SuperFish
2,9079988,2015-02-20T11:36:18.000Z,1424432178,davidiach,1,twitter.com,0,Apple Watch models could contain 29.16g of gold
3,9080000,2015-02-20T11:41:06.000Z,1424432466,CiaranR,1,phpconference.co.uk,0,PHP UK Conference Diversity Scholarship Programme
4,9080006,2015-02-20T11:43:04.000Z,1424432584,mstolpm,2,preview.onedrive.com,2,Microsoft giving away 100GB free OneDrive stor...

In [19]:
news.shape

(1553933, 8)

In [27]:
comments = pd.read_csv("C:\\Users\\SAI KRUPA\\Desktop\\Master\\comments.7z\\comments.csv")

C:\Users\SAI KRUPA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
comments.columns= ['id', 'created_at', 'created_at_i', 'author', 'points', 'story_id', 'parent_id', 'url_hostname', 'comment_text']

In [31]:
comments['url_hostname'] = comments.astype({'url_hostname' :str })

In [32]:
comments.head()

,id,created_at,created_at_i,author,points,story_id,parent_id,url_hostname,comment_text
0,9426552,2015-04-23T13:39:19.000Z,1429796359,inthewoods,0.0,9426425.0,9426425.0,9426552,I&#x27;m sure car makers are looking at histor...
1,9426551,2015-04-23T13:39:10.000Z,1429796350,lawnchair_larry,0.0,9425778.0,9425778.0,9426551,I&#x27;m not sure why the comments here are fo...
2,9426550,2015-04-23T13:39:01.000Z,1429796341,easytiger,0.0,9423545.0,9426184.0,9426550,Makes literally no sense. The c developer woul...
3,9426549,2015-04-23T13:38:50.000Z,1429796330,smusings,0.0,9425357.0,9425357.0,9426549,I am glad that this article brought up the ele...
4,9426548,2015-04-23T13:38:32.000Z,1429796312,kristofferR,0.0,9425316.0,9425677.0,9426548,"<a href=""http:&#x2F;&#x2F;en.wikiquote.org&#x2..."

In [33]:
comments['points'].max()

1081.0

In [ ]:
comments = write